@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Palette Mosaic";
  background-color: #f5f5dc;
  min-height: 100vh;
  padding: 0;
  overflow-x: hidden;
}

@media screen and (max-width: 1250px) {
  .carrusel {
    display: none;
  }
}
/* HEADER */
.header {
  background-color: #936b09;
  box-shadow: 0px 0px 5px;
}
.header .nav-header nav div .logo {
  transition: all 0.35s;
}
@media screen and (max-width: 450px) {
  .header .nav-header nav div .logo img {
    width: 45px;
  }
}
@media screen and (max-width: 1250px) {
  .header .nav-header nav div .logo {
    display: flex;
    justify-content: flex-start;
    margin: 0 0;
  }
}
.header .nav-header nav div .logo:hover {
  transform: scale(1.1);
}
.header .nav-header .barra-menu {
  margin-right: 5rem;
}
@media screen and (max-width: 1250px) {
  .header .nav-header .barra-menu li {
    display: none;
  }
}
.header .nav-header .barra-menu li a {
  color: #fff;
}
.header .nav-header .barra-menu li a:hover {
  color: #413101;
}
.header .nav-header .menu-desplegable {
  height: 55px;
  width: 55px;
  right: 1em;
}
.header .nav-header .menu-desplegable ul {
  background-color: #936b09;
}
.header .nav-header .menu-desplegable ul li a {
  color: #fff;
}
.header .nav-header .menu-desplegable ul li a:hover {
  background-color: #a87d0e;
}
.header .nav-header .menu-desplegable button {
  margin: 0 0 0 -5px;
}
@media screen and (max-width: 450px) {
  .header .nav-header .menu-desplegable button img {
    width: 30px;
  }
}
.header .nav-header .menu-desplegable button:focus {
  box-shadow: none;
}
@media screen and (min-width: 1250px) {
  .header .nav-header .menu-desplegable {
    display: none;
  }
}
@media screen and (max-width: 1250px) {
  .header .nav-header .menu-desplegable {
    margin: 1em;
    border-radius: 5px;
  }
  .header .nav-header .menu-desplegable:hover {
    background-color: #a87d0e;
  }
}
@media screen and (max-width: 450px) {
  .header .nav-header .menu-desplegable {
    width: 45px;
    height: 45px;
  }
}

/* FIN HEADER*/
.section-contacto .nav-contacto .div-contacto .subline, .nosotros9 div .tn2 .tn {
  display: inline-block;
  position: relative;
}

.nosotros9 div .tn2 {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
.nosotros9 div .tn2 .tn::after, .nosotros9 div .tn2 .tn::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 3px;
  background-color: #413101;
  top: 1em;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.nosotros9 div .tn2 .tn:hover::before, .nosotros9 div .tn2 .tn:hover::after {
  transform: scale(0);
}
.nosotros9 div .tn2 .tn::before {
  left: -420px;
}
.nosotros9 div .tn2 .tn::after {
  right: -420px;
}
.nosotros9 div .tn2 .tn .nosotros-title {
  color: #413101;
}
@media screen and (max-width: 1060px) {
  .nosotros9 div .tn2 .tn::after {
    right: -110px;
    width: 100px;
  }
  .nosotros9 div .tn2 .tn::before {
    left: -110px;
    width: 100px;
  }
}
.nosotros9 div div .ps-md {
  padding: 0;
}
.nosotros9 .div-nosotros .nosotros1 {
  font-size: 1em;
  color: #936b09;
  margin-left: 6.6em;
  margin-right: 6.6em;
  margin-bottom: 1em;
}
.nosotros9 .div-nosotros .nosotros2 {
  font-size: 1em;
  color: #936b09;
  margin-left: 6.6em;
}

/* FIN NOSOTROS */
/* SECCION CONTACTO*/
.section-contacto .nav-contacto .div-contacto .subline, .nosotros9 div .tn2 .tn {
  display: inline-block;
  position: relative;
}

.section-contacto {
  color: #413101;
}
.section-contacto .nav-contacto .mapa {
  margin-top: 2em;
}
@media screen and (max-width: 810px) {
  .section-contacto .nav-contacto .mapa {
    width: 95%;
    margin-left: 1em;
  }
}
.section-contacto .nav-contacto .div-contacto {
  margin: 3em 0 0 14.4em;
}
@media screen and (max-width: 1000px) {
  .section-contacto .nav-contacto .div-contacto {
    text-align: left;
    width: 95%;
    margin-left: 1em;
  }
}
.section-contacto .nav-contacto .div-contacto .subline::after {
  content: "";
  position: absolute;
  width: 360px;
  height: 2px;
  background-color: #413101;
  bottom: 0.2em;
}
.section-contacto .nav-contacto .div-contacto .ul-contacto {
  list-style: none;
  margin-top: 1em;
}
.section-contacto .nav-contacto .div-contacto .ul-contacto .li-phone {
  margin-top: 1em;
}
.section-contacto .nav-contacto .div-contacto .ul-contacto .li-direccion {
  margin-top: 1em;
}
.section-contacto .nav-contacto .div-contacto .ul-contacto .li-insta {
  margin-top: 1em;
}
.section-contacto .nav-contacto .div-contacto .ul-contacto .li-insta a {
  color: #936b09;
}

/* FIN CONTACTO */
/* PRODUCTOS */
.nosotros9 div .tn2 .tn, .section-contacto .nav-contacto .div-contacto .subline {
  display: inline-block;
  position: relative;
}

.section-productos {
  color: #936b09;
  margin: 3em 0 0 6em;
}
@media screen and (max-width: 800px) {
  .section-productos {
    margin-left: 0;
  }
}
.section-productos div .productos {
  margin-bottom: 2em;
}
@media screen and (max-width: 800px) {
  .section-productos div .productos {
    margin-left: 1em;
  }
}
.section-productos div .productos .trans {
  margin-right: 1em;
}
.section-productos div .productos .trans:hover {
  transform: scale(1.03);
  transition: all 0.4s;
}
.section-productos div .section-pya .ul-productos2 {
  list-style: none;
  margin-top: 2em;
}
.section-productos div .section-pya .ul-productos2 .li-1 {
  margin-top: 1em;
}
@media screen and (max-width: 800px) {
  .section-productos div .section-pya .ul-productos2 .li-1 {
    width: 95%;
    text-align: left;
    margin-left: 1em;
  }
}
.section-productos div .section-pya .ul-productos2 .li-2 {
  margin-top: 1em;
}
@media screen and (max-width: 800px) {
  .section-productos div .section-pya .ul-productos2 .li-2 {
    width: 95%;
    text-align: left;
    margin-left: 1em;
  }
}
.section-productos div .section-pya .ul-productos2 .li-3 {
  margin-top: 1em;
}
@media screen and (max-width: 800px) {
  .section-productos div .section-pya .ul-productos2 .li-3 {
    width: 95%;
    text-align: left;
    margin-left: 1em;
  }
}

/* FIN PRODUCTOS */
/* SECCION PREGUNTAS FRECUENTES*/
div .section-pfrecuentes {
  padding-bottom: 16em;
  margin: 2em 4em 0 6em;
  color: #936b09;
  overflow: hidden;
}
@media screen and (max-width: 850px) {
  div .section-pfrecuentes .h3 {
    font-size: 1.7em;
  }
}
div .section-pfrecuentes .p1-pfrecuentes {
  margin-top: 3em;
  font-size: 1em;
}
div .section-pfrecuentes .p2-pfrecuentes {
  font-size: 1em;
  margin-top: 2em;
  width: 90%;
}
@media screen and (max-width: 850px) {
  div .section-pfrecuentes {
    text-align: left;
    width: 95%;
    margin-left: 1em;
  }
}

/* FIN PREGUNTAS FRECUENTES*/
/* FORMULARIO*/
.form-pedidos {
  background-color: #f1e4c0;
  color: #705206;
  border: 1px solid #936b09;
  border-radius: 5px;
  width: 80%;
  margin: 3em 0 3em 0;
  padding: 3em;
}
.form-pedidos .form-row {
  margin-bottom: 3em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.form-pedidos .form-row input[type=text],
.form-pedidos .form-row input[type=email],
.form-pedidos .form-row input[type=number] {
  background-color: #f8f8dc;
  border: 1px solid #936b09;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
}
.form-pedidos .form-row .label {
  margin-bottom: 15px;
}
.form-pedidos .form-row textarea {
  background-color: #f5f5dc;
  border: 1px solid #936b09;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 7px;
  min-height: 200px;
  min-width: 100%;
  resize: none;
}
.form-pedidos .form-row .pedido {
  color: #705206;
  margin-bottom: 30px;
}
.form-pedidos .form-row button {
  font-size: 16px;
  font-weight: bold;
  color: aliceblue;
  background-color: #936b09;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}
.form-pedidos .form-row button:hover {
  background-color: #a87d0e;
}
.form-pedidos .form-row button:active {
  background-color: #705206;
}

.exito-h1 {
  margin-top: 10%;
  color: #936b09;
}

/* FIN FORMULARIO*/
/* FOOTER */
.footer {
  max-width: 100%;
  position: relative;
  bottom: 0;
  right: 0;
  margin-top: 5em;
  padding: 1em 0 0.5em 0;
  background-color: #936b09;
  box-shadow: 0 0 5px;
}
.footer nav .barra-menu ul li a {
  color: aliceblue;
}
.footer nav .barra-menu ul li a:hover {
  color: #413101;
}
@media screen and (max-width: 910px) {
  .footer nav .barra-menu {
    text-align: right;
    width: 100%;
    margin-right: 0;
  }
}
.footer nav nav div .rs {
  transition: all 0.35s;
}
.footer nav nav div .rs:hover {
  transform: translateY(-9px);
}

/* FIN DE FOOTER */
.nosotros9 div .tn2 .tn, .section-contacto .nav-contacto .div-contacto .subline {
  display: inline-block;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
