/* FOOTER */
@import 'listas';

.footer {
    max-width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
    margin-top: 5em;
    padding: 1em 0 0.5em 0;
    background-color: nth($colores, 2 ) ;
    box-shadow: 0 0 5px;

    nav {
        
        .barra-menu {
            ul {
                li {
                    a {
                        color: nth($colores, 11 );

                        &:hover {
                            color: nth($colores, 4) ;
                        }
                    }
                }
            }

            @media screen and (max-width: 910px) {
                text-align: right;
                width: 100%;
                margin-right: 0
            }
        }
        nav {
            
            div {
                .rs {
                    transition: all .35s;

                    &:hover {
                        transform: translateY(-9px);
                    }
                }
            }
        }
    }
}



/* FIN DE FOOTER */