
/* HEADER */
.header {
    background-color: #936b09;
    box-shadow: 0px 0px 5px ;
    .nav-header {
        nav {
            div {
                .logo {
                    transition: all .35s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        .barra-menu {
            margin-right: 5rem;
            li {
                a {
                    color: #fff;

                    &:hover {
                        color: #413101;
                    }
                }
            }
        }
    }
}

/* FIN HEADER*/