.nosotros9 {
    div {
        .tn2 {
            display: flex;
            justify-content: center;
            .tn {
                display: inline-block;
                position: relative;

                &::after, &::before {
                    content: '';
                    position: absolute;
                    width: 400px;
                    height: 3px;
                    background-color: nth($colores, 4 );
                    top: 1em;
                    transform: scale(1);
                    transition: all 0.2s ease-in-out;
                }

                &:hover::before, &:hover::after {
                    transform: scale(0);
                }
                &::before {
                    left: -420px;
                }
                &::after {
                    right: -420px;
                }
                .nosotros-title {
                    color: nth($colores, 4 );
                }

                @media screen and (max-width: 1060px) {
                    &::after {
                        right: -110px;
                        width: 100px;
                    }
                    &::before {
                        left: -110px;
                        width: 100px;
                    }
                }
            }
        }
    }

    .div-nosotros {
        .nosotros1 {
            font-size: 1em;
            color: nth($colores, 2 );
            margin-left: 6.6em;
            margin-right: 6.6em;
            margin-bottom: 1em;
        }
        .nosotros2 {
            font-size: 1em;
            color: nth($colores, 2 );
            margin-left: 6.6em;
        }
    }

}

/* FIN NOSOTROS */