*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
    } 

    @import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

body {
        font-family: 'Palette Mosaic', cursive;
        background-color: #f5f5dc ;
        min-height: 100vh;
        padding: 0;
        overflow-x: hidden;
    }
/*HEADER*/

.header {
    background-color: #936b09;
    box-shadow: 0px 0px 5px ;
}
.barra-menu {
    margin-right: 5rem;
}
.barra-menu li a {
    color: #fff;
}
.barra-menu li a:hover {
    color: #413101;
}
.logo {
    transition: all .35s;
}
.logo:hover {
    transform: scale(1.1);
}

/*FIN DEL HEADER*/

/*SECCION NOSOTROS*/

.nosotros-title {
    color:#413101;
}
.tn2 {
    display: flex;
    justify-content: center;
}
.tn {
    display: inline-block;
    position: relative;
}
.tn::after,.tn::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 3px;
    background-color:#413101;
    top: 1em;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}
.tn:hover::before, .tn:hover::after {
    transform: scale(0);
}
.tn::before {
    left: -420px;
}
.tn::after {
    right: -420px;
}
.nosotros1 {
    font-size: 1em;
    color: #936b09;
    margin-left: 6.6em;
    margin-right: 6.6em;
    margin-bottom: 1em;
}
.nosotros2 {
    font-size: 1em;
    color: #936b09;
    margin-left: 6.6em;
}

/* FIN DE SECCION NOSOTROS */

/* SECCION CONTACTO*/
.mapa {
    margin-top: 2em;
}
.div-contacto {
    margin: 3em 0 0 14.4em;
}
.ul-contacto {
    list-style: none;
}
.li-insta, .li-direccion, .li-phone, .ul-contacto {
    margin-top: 1em;
}
.li-insta a {
    color: #936b09;
}
.subline {
    display: inline-block;
    position: relative;
}
.subline::after {
    content: '';
    position: absolute;
    width: 360px;
    height: 2px;
    background-color: black;
    bottom: .2em;
}
/* FIN SECCION CONTACTO*/

/* SECCION PREGUNTAS FRECUENTES*/
.section-pfrecuentes {
    padding-bottom: 16em;
    margin: 2em 4em 0 6em;
    color: #936b09;
}
.h3-pfrecuentes {
    font-size: 2em;
}
.p1-pfrecuentes {
    margin-top: 3em;
    font-size: 1em;
}
.p2-pfrecuentes {
    font-size: 1em;
    margin-top: 2em;
    width: 90%;
}
/* FIN PREGUNTAS FRECUENTES*/

/* PRODUCTOS */
.section-productos {
    color: #936b09;
    margin: 3em 0 0 6em; 
}
.purina {
    border-radius: 6px;
    box-shadow: 0 0 5px;
    width: 15em;
}
.royal {
    border-radius: 6px;
    box-shadow: 0 0 5px;
    width: 15em;
}
.vital {
    border-radius: 6px;
    box-shadow: 0 0 5px;
    width: 15em;
}
.old {
    border-radius: 6px;
    box-shadow: 0 0 5px;
    width: 15em;
}
.trans:hover {
    transform: scale(1.2);
    transition: all 1s;
}
.ul-productos1 {
    list-style: none;
    margin-top: 3em;
}
.section-pya {
    margin-top: 2em;
}
.ul-productos2 {
    margin-top: 2em;
    list-style: none;
}
.li-1 {
    margin-top: 1em;
}
.li-2 {
    margin-top: 1em;
}
.li-3 {
    margin-top: 1em;
}
/* FIN PRODUCTOS */

/* FORMULARIO*/
.div-form {
    line-height: 2;
}
.form-pedidos {
    background-color: #f1e4c0;
    color: #705206;
    border: 1px solid #936b09;
    border-radius: 5px;
    width: 80%;
    margin: 3em 0 3em 0;
    padding: 3em;
}
.form-row {
    margin-bottom: 3em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="number"] {
    background-color: #f8f8dc;
    border: 1px solid #936b09;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
}
.form-row label {
    margin-bottom: 15px;
}
.form-row textarea {
    background-color: #f5f5dc;
    border: 1px solid #936b09;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 7px;
    min-height: 200px;
    min-width: 100%;
    resize: none;
}
.form-row .pedido {
    color: #705206;
    margin-bottom: 30px;
}
.form-row button {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #936b09;
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
}
.form-row button:hover {
    background-color: #a87d0e;
}
.form-row button:active {
    background-color: #705206;
}

.exito-h1 {
    margin-top: 10%;
    color: #936b09;
}


/* FOOTER */
.rs:hover {
    transform: translateY(-9px);
}
.rs {
    transition: all .35s;
}

.footer {

    max-width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
    margin-top: 5em;
    padding: 1em 0 0.5em 0;
    background-color: #936b09 ;
    box-shadow: 0 0 5px;
    grid-area: footer;
}
.div-redes-footer {
    padding-left: 2%;
}
.nav-footer {
    display: flex;
    justify-content: space-between;
    margin-right: 6em;
}
.nav-footer div-redes-footer a {
    display: flex;
    justify-content: start;
}

.ul-footer {
    margin-right: 5em;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
}
.ul-footer li a {
    text-decoration: none;
    color: #ffffff
}
.ul-footer li a:hover {
    color: #f5ebd4;
}
.insta, .wpp, .ph {
    transition: all .4s;
}
.insta:hover {
    transform: translateY(-5px)
}
.wpp:hover {
    transform: translateY(-5px);
}
.ph:hover {
    transform: translateY(-5px);
}


/* FIN DE FOOTER */






















    







