/* FORMULARIO*/
@import '../base/listas';

.form-pedidos {
    background-color: nth($colores, 6 );
    color: nth($colores, 7 );
    border: 1px solid nth($colores, 2 );
    border-radius: 5px;
    width: 80%;
    margin: 3em 0 3em 0;
    padding: 3em;
    .form-row {
        margin-bottom: 3em;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        
        input[type="text"],
        input[type="email"],
        input[type="number"] {
            background-color: nth($colores, 8 );
            border: 1px solid nth($colores, 2 );
            border-radius: 3px;
            width: 100%;
            padding: 7px;
        }
        .label {
            margin-bottom: 15px;
        }
        textarea {
            background-color: nth($colores, 1 );
            border: 1px solid nth($colores, 2 );
            border-radius: 3px;
            margin-bottom: 10px;
            padding: 7px;
            min-height: 200px;
            min-width: 100%;
            resize: none;
        }
        .pedido {
            color: nth($colores, 7 );
            margin-bottom: 30px;
        }
        button {
            font-size: 16px;
            font-weight: bold;
            color: nth($colores, 11 );
            background-color: nth($colores, 2 );
            border: none;
            border-radius: 3px;
            padding: 10px 40px;
            cursor: pointer;

            &:hover {
                background-color: nth($colores, 10 );
            }
            &:active {
                background-color: nth($colores, 7 );
            }
        }
    }
}

.exito-h1 {
    margin-top: 10%;
    color: nth($colores, 2 );
}
/* FIN FORMULARIO*/