/* FORMULARIO*/
@import '../base/listas';
@import '../base/mapas';

.form-pedidos {
    background-color: map-get($color-form, bg-form-pedidos );
    color: map-get($color-form, color-pedidos );
    border: 1px solid map-get($color-form, border-pedidos);
    border-radius: 5px;
    width: 80%;
    margin: 3em 0 3em 0;
    padding: 3em;
    .form-row {
        margin-bottom: 3em;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        
        input[type="text"],
        input[type="email"],
        input[type="number"] {
            background-color: map-get($color-form, bg-input );
            border: 1px solid map-get($color-form, border-input);
            border-radius: 3px;
            width: 100%;
            padding: 7px;
        }
        .label {
            margin-bottom: 15px;
        }
        textarea {
            background-color: map-get($color-form, bg-textarea);
            border: 1px solid map-get($color-form, border-textarea);
            border-radius: 3px;
            margin-bottom: 10px;
            padding: 7px;
            min-height: 200px;
            min-width: 100%;
            resize: none;
        }
        .pedido {
            color: map-get($color-form, color-pedido);
            margin-bottom: 30px;
        }
        button {
            font-size: 16px;
            font-weight: bold;
            color: map-get($color-form, color-button);
            background-color: map-get($color-form, bg-button);
            border: none;
            border-radius: 3px;
            padding: 10px 40px;
            cursor: pointer;

            &:hover {
                background-color: map-get($color-form, bg-button-hover);
            }
            &:active {
                background-color: map-get($color-form, bg-button-active);
            }
        }
    }
}

.exito-h1 {
    margin-top: 10%;
    color: map-get($color-form, color-exito);
}
/* FIN FORMULARIO*/