@import '../base/listas';
@import '../base/mapas';

/* HEADER */
.header {
    background-color: map-get($color-header, bg-header);
    box-shadow: 0px 0px 5px ;
    .nav-header {
        nav {
            div {
                .logo {
                    transition: all .35s;

                    @media screen and (max-width: 1250px) {
                        display: flex;
                        justify-content: flex-start;

                        margin: 0 0;
                    }
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        .barra-menu {
            margin-right: 5rem;

            li {
                @media  screen and (max-width: 1250px) {
                    display: none;
                }
                a {
                    color: map-get($color-header, color-barra-menu);

                    &:hover {
                        color: map-get($color-header, color-barra-menu-hover);
                    }
                }
            }
        }
        .menu-desplegable {
            height: 55px;
            width: 55px;
            right: 1em;
            ul {
                background-color: map-get($color-header, bg-header );
                li {
                    a {
                        color: map-get($color-header, color-barra-menu );

                        &:hover {
                            background-color: map-get($color-header, bg-menu-desplegable);
                        }
                    }
                }

            }
            button {
                margin: 0 0 0 -5px;
                &:focus {
                    box-shadow: none;
                }

            }
            @media screen and (min-width: 1250px) {
                display: none;
            }
            @media screen and (max-width: 1250px) {
                margin: 1em;
                border-radius: 5px;
                &:hover {
                    background-color: map-get($color-header, bg-menu-desplegable );
                }
                
            }
        }
    }
}

/* FIN HEADER*/