@import '../base/listas';
@import '../base/mapas';
@import '../base/extends';
@import '../base/mixins';
.nosotros9 {
    div {
        .tn2 {
            display: flex;
            justify-content: center;

            margin-top: 3em;
            .tn {
                @extend %display-ib-r;

                &::after, &::before {
                    content: '';
                    position: absolute;
                    @include lines (400px, 3px);
                    background-color: map-get($color-nosotros, bg-nosotros-lines);
                    top: 1em;
                    transform: scale(1);
                    transition: all 0.2s ease-in-out;
                }

                &:hover::before, &:hover::after {
                    transform: scale(0);
                }
                &::before {
                    left: -420px;
                }
                &::after {
                    right: -420px;
                }
                .nosotros-title {
                    color: map-get($color-nosotros, color-nosotros-title);

                }

                @media screen and (max-width: 1060px) {
                    &::after {
                        right: -110px;
                        width: 100px;
                    }
                    &::before {
                        left: -110px;
                        width: 100px;
                    }
                }
            }
        }
        div {
            .ps-md {
                padding: 0;
            }
        }
    }

    .div-nosotros {
        .nosotros1 {
            font-size: 1em;
            color: map-get($color-nosotros, color-div-nosotros);
            margin-left: 6.6em;
            margin-right: 6.6em;
            margin-bottom: 1em;
        }
        .nosotros2 {
            font-size: 1em;
            color: map-get($color-nosotros, color-div-nosotros);
            margin-left: 6.6em;
        }
    }


}

/* FIN NOSOTROS */