/* SECCION PREGUNTAS FRECUENTES*/
@import '../base/listas';
@import '../base/mapas';


section {
    .section-pfrecuentes {
        padding-bottom: 16em;
        margin: 2em 4em 0 6em;
        color: map-get($color-pfrecuentes, color-section-pfrecuentes);
        overflow: hidden;
        .h3 {
            @media screen and (max-width: 850px) {
                font-size: 1.7em;
            }
        }
        .p1-pfrecuentes {
            margin-top: 3em;
            font-size: 1em;
        }
        .p2-pfrecuentes {
            font-size: 1em;
            margin-top: 2em;
            width: 90%;
        }
        @media screen and (max-width: 850px) {
            text-align: left;
            width: 95%;
            margin-left: 1em;
            
        }
    }
}
/* FIN PREGUNTAS FRECUENTES*/