/* PRODUCTOS */
@import '../base/listas';

.section-productos {
    color: map-get($color-productos, color-section-productos);
    margin: 3em 0 0 6em; 

    @media screen and (max-width: 800px ) {
        margin-left: 0;
    }
    div {
        .productos {
            margin-bottom: 2em;
            @media screen and (max-width: 800px ) {
                margin-left: 1em;
            }
            .trans {
                margin-right: 1em;

                &:hover {
                    transform: scale(1.03);
                    transition: all .4s;
                }
            }
        }
        .section-pya {
            .ul-productos2 {
                margin-top: 2em;
                list-style: none;
                .li-1 {
                    margin-top: 1em;

                    @media screen and (max-width: 800px ) {
                        width: 95%;
                        text-align: left;
                        margin-left: 1em;
                    }
                }
                .li-2 {
                    margin-top: 1em;

                    @media screen and (max-width: 800px ) {
                        width: 95%;
                        text-align: left;
                        margin-left: 1em;
                    }
                }
                .li-3 {
                    margin-top: 1em;

                    @media screen and (max-width: 800px ) {
                        width: 95%;
                        text-align: left;
                        margin-left: 1em;
                    }
                }
            }
        }
    }
}

/* FIN PRODUCTOS */